body,html,ul,li,h1,h2,h3,h4,h5,h6,div,p,legend,select,input,textarea,dl,dt,dd,table,tr,th,td,form,img,span,fieldset{
	margin: 0;padding: 0;
}
ul,ol{
	list-style: none;
}
a{
	text-decoration: none;
	color: #757575;
	outline: none;
	margin: 0;padding: 0;
}
img,fieldset{
	border:none;
}
a, label, :focus {
    outline: 0 none;
}